@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  --blanco:#ececec;
  --whitePlus: #fff;
  --blackPlus: #000;
  /* Tipografía */
  --tipo-principal: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco:#393939;
    --whitePlus: #000;
    --blackPlus: #fff;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

input[type=checkbox] {
  display: initial;
  appearance: auto;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  font-family: var(--tipo-principal);
  text-rendering: optimizeLegibility;
  color: var(--negro);
  /* (Opcional) */
  /* (Opcional) */
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-normal.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 1000;
  font-style: italic;
}
/*
Example:
body{
  font-size: rem(32);
}
*/
/*
Example:
main{
  @include flex(flex, row, wrap, space-around, center, 1rem);
}
*/
.hero {
  max-width: 61.25rem;
  font-family: "Montserrat" sans-serif;
  margin-inline: auto;
  display: grid;
  place-items: center;
}

.header {
  display: grid;
  place-items: center;
  place-content: center;
  margin-top: 2rem;
}
.header .personalCard-photo {
  aspect-ratio: 1/1;
  width: min(30vw, 12rem);
  margin-inline: auto;
  border-radius: 1rem;
}
.header .personalCard-data {
  text-align: center;
}
.header .personalCard-name {
  font-size: min(1.5rem, 4.5vw);
  color: #4E5150;
  font-weight: 600;
  padding-top: 0.5rem;
}
.header .personalCard-location {
  display: inline-block;
  color: #A9A9A9;
  font-size: min(0.8rem, 3.3vw);
  margin: 0 0 1rem 0;
}
.header .subCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .smallCard {
  display: grid;
  place-items: center;
  width: min(22vw, 6.2rem);
  padding: 0.7rem 0.5rem;
  background-color: #E5E5E5;
  color: #4E5150;
  margin-inline: auto;
  text-align: center;
  border-radius: 0.8rem;
  gap: 0.3rem;
  font-size: min(0.9rem, 3.3vw);
}
.header .smallCard-number {
  font-weight: 600;
  line-height: 0.914375rem;
}
.header .smallCard-text {
  font-size: min(0.8rem, 3.3vw);
  font-weight: 600;
  line-height: 0.914375rem;
  color: #BDBDBD;
}

.gallery {
  display: grid;
  gap: min(2vw, 2rem);
  padding: 1rem;
  grid-template-areas: "photo1 photo2 photo2" "photo3 photo3 photo4" "photo5 photo6 photo4";
}
.gallery-img {
  height: 100%;
  border-radius: 0.75rem;
}
.gallery-img:hover {
  opacity: 0.8;
}
.gallery-img:nth-child(1) {
  grid-area: photo1;
}
.gallery-img:nth-child(2) {
  grid-area: photo2;
}
.gallery-img:nth-child(3) {
  grid-area: photo3;
}
.gallery-img:nth-child(4) {
  grid-area: photo4;
}
.gallery-img:nth-child(5) {
  grid-area: photo5;
}
.gallery-img:nth-child(6) {
  grid-area: photo6;
}

.footer {
  padding: 1rem;
  grid-row: 8/9;
  text-align: center;
}
.footer-info {
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 500;
}
.footer-autor {
  color: var(--blanco);
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
